{{> head}}


{{> navbar}}
<div class="container">
    <div class="row">
        <div class="col-8">
            <h1>soy un about bien kawaii</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis officiis maiores animi, expedita quam, placeat illum ipsum autem rerum possimus temporibus voluptas culpa fuga, error dolores ut veritatis nulla ad.</p>
        </div>
        <div class="col-4 d-flex ">
            <img src="assets/images/io.jpg" alt="" class="img-thumbnail">
        </div>
    </div>
</div>
{{> footer}}

{{> close}}